@import "reset";
@import "base";
@import "grid";

// Header 

.top-header {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;

  h1 {
    font-size: 1.5rem;
    text-transform: lowercase;
  }

  .header-bar {
    text-transform: lowercase;
  }

  padding: 30px 0;

  .nav-links a {
    margin-left: 20px;
    font-size: 1rem;
    text-transform: uppercase;
    color: #393939;
    font-weight: 700;
  }

  .ham-menu {
    display: none;
  }

  #toggle {
    display: none;
  }
}

// hero-section 
.hero-section {
  text-align: left;

  .hero-image {
    width: 100%;
    height: 100%;
    font-size: 0;
  }

  .right-sec {
    background-color: #f5e3d7;
    padding: 10rem 1.5rem;

    .hero-text {
      text-transform: uppercase;
      font-size: 1.3rem;
      color: #a59e9b;
    }

    strong {
      color: black;
    }

    h2 {
      text-transform: capitalize;
      color: #393939;
    }

    p {
      text-transform: capitalize;
      font-size: 1.2rem;
      color: #393939;
    }
  }

}

// section-second 
.parent-sec {
  .col-2-r-1 {
    h2 {
      text-transform: uppercase;
      font-size: 1.2rem;
      color: #393939;
    }

    .basic-heading {
      text-transform: capitalize;
      color: red;
    }

    p {
      text-transform: capitalize;
      font-size: 1.2rem;
      color: #393939;
      text-align: left;
      margin: 1.2rem 0;
    }
  }

  .col-2-r-3 {
    background-color: #ecaf4e;

    h3 {
      text-transform: capitalize;
      font-size: 1.5rem;
      color: white;
    }

    p {

      text-transform: capitalize;
      font-size: 1.2rem;
      color: white;
    }

    .front-end {
      margin-top: 12px;
    }

    strong {
      color: white;
    }

    label {
      text-transform: capitalize;
      font-size: 1.2re;
    }

    progress {
      width: 100%;
      height: 6px;
    }
  }
}



// section-three 
.col-3-row-3 {
  text-align: center;
  color: white;
  text-transform: capitalize;
  font-size: 1.5rem;

  .r-3-c-1 {
    background-color: #ecaf4e;
  }

  .r-3-c-2 {
    background-color: #fa673d;
  }

  .r-3-c-3 {
    background-color: #161616;
  }

  .r-3-c-4 {
    background-color: #ffffff;
  }

  .fas {
    color: white;
    font-size: 2.5rem;
  }

  .fab {
    color: black;
    font-size: 2.5rem;
  }

  .black-text {
    color: black;
  }

  h5 {
    margin: 16px 0;
  }

}

// section-four 
.col-4-r-4 {
  color: white;
  text-transform: capitalize;
  font-size: 2rem;

  .col-4-r-1 {
    font-size: 0;
  }

  .col-4-r-2 {
    background-color: #fa673d;
  }

  .icon {
    margin-right: 1.3rem;
  }

  strong {
    color: black;
    font-size: 1.5rem;
  }

  p {
    font-size: 1.7rem;
  }

  .design-detail {
    margin: 30px 0;
  }
}

// section-five 
.col-4-r-3 {
  background-color: #ecaf4e;
}

// contact-section 
.contact-section {
  background-color: #fa673d;
  color: white;

  .address-sec {
    background-color: #161616;
  }

  .send-btn {
    background-color: white;
    color: #a59e9b;
    border: 0;
    padding: 16px 72px;
  }

  li {
    font-size: 1.5rem;
    margin: 16px 0;
  }

  .fas,
  .fab {
    margin-right: 12px;
  }
}


// map-section 
.map-sec {
  background-color: #fa673d;
}

// footer 
.footer-sec {
  padding: 60px 0;

  .fab {
    font-size: 1.2rem;
    color: #161616;
  }
}

.center {
  text-align: center;

  .social-link li {
    text-align: center;
    display: inline-block;
    padding: 40px 30px;
  }
}

// Media Queries
@media all and (max-width:768px) {
  html {
    font-size: 12px;
  }

  .left-sec {
    font-size: 0;
  }

  .top-header {
    background-color: white;
    position: static;

    h1 {
      font-size: 2rem;
    }

    .nav-links {
      display: none;
      position: absolute;
      background-color: rgba(0,0,0,0.9);
      top: 0;
      left: 0;
      right: 0;
      border: 1px solid black;
      text-align: center;
      padding-top: 100px;

      li {
        margin: 32px 0;

        a {
          color: white;
          font-size: 2rem;
        }
      }
    }

    .ham-menu {
      color: #fa673d;
      font-size: 32px;
      display: inline-block;
      z-index: 999;
      position: relative;
    }

    .logo {
      z-index: 999;
    }

    #toggle:checked~.nav-links {
      display: inline-block;
    }
  }





  .image-sec {
    font-size: 0;
  }

  .col-4-r-1 {
    font-size: 0;
  }

  .col-2-r-2 {
    font-size: 0;
  }

  .col-2-r-3 {

    // text-align: center;
    .icon {
      margin-right: 1.3rem;
    }

    label {
      font-size: 2rem;
    }

    p {
      font-size: 2rem;
    }

  }

  .map {
    width: 100%;
    height: 400px;
  }
}